{% load static %}

<!DOCTYPE html>
<html>
    <title> ЛовиЛодку </title>
    <head>
        {% block css %} {% endblock  %}
        <link rel="stylesheet" href="{% static "deps\css\home.css" %}">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="rectangle_menu">
            <h1>
                <div class="logo_menu">
                    <a class="a_logo_menu" href="{% url "main:index" %}">ЛОВИЛОДКУ</a>
                </div>
            </h1>
            <div class="menu text">
                <div class="menu_galery">ГАЛЕРЕЯ</div> 
                <div class="menu_location">МЕСТА РЫБАЛКИ</div>
                <div class="menu_thing">СНАРЯЖЕНИЕ</div>
            </div>
        </div>
        {% block content %} {% endblock  %}
    </body>
</html>