{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps\css\login.css" %}">
{% endblock  %}
{% block content %}
    <div class="register_menu">
        <div class="register_menu_enter">
            <a class="a_enter" href="">Войти</a>
        </div>
        <div class="register_menu_register">
            <a class="a_register"
            href="{% url "user:registration" %}">Регистрация</a>
        </div>
        
        <input type="text" class="email" placeholder="Почта">
        <input type="text" class="password" placeholder="Пароль">
        
            <button class="enter">Войти</button>
    </div>
{% endblock  %}