{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/profile.css" %}">
{% endblock  %}

{% block content %}
<form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="text profile">
            <div class="profile_photo">
                <a href="{% url "users:edit_profile" %}">
                    {% if user.image %}
                        <img src="{{ user.image.url }}"
                            alt="Аватар пользователя" class="img-fluid rounded-circle" id="profile_in_photo">
                    {% else %}
                        <img src="{% static "deps/image/defoult_profile.jpg" %}"
                            alt="Аватар пользователя" class="img-fluid rounded-circle" id="profile_in_photo">
                    {% endif %}
            </a></div>
            <div class="profile_information">
                <div class="profile_name">
                    <p type="text", name="first_name" required>{{form.first_name.value}}</p>
                    <p type="text" id="id_username" name="username"required> {{form.username.value}} </p>
                </div>
                <div class="profile_description text">
                    <p></p>
                </div>
            </div>
        </div>
    <div class="text achievements">
        <div class="achievements_header">
            <p>ДОСТИЖЕНИЯ</p>
        </div>
        <div class="achievements_description">
                
        </div>
    </div>
    <div class="rectangle_equpment">
        <div class="pictures_recomendtion">
        <div class="tent_pofile">
            <img src="{% static "deps/image/tent.png" %}" id="tent_profile">
        </div>
        <div class="fishing_rod_pofile">
            <img src="{% static "deps/image/fishing_rod.png" %}" id="rod_profile">
        </div>
        <div class="boat_pofile">
            <img src="{% static "deps/image/boat.png" %}" id="boat_profile">
        </div>
        <div class="car_pofile">
            <img src="{% static "deps/image/car.png" %}" id="car_profile">
        </div>
    </div>
        <div class="text_equpment text">
            СНАРЯЖЕНИЕ
        </div>
    </div>
</form>
{% endblock  %}